@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.container {
  width: 80%;

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3fr);
  margin: 0 auto;
  padding: 0 auto;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "logo logo logo"
    "hero hero hero"
    "cards cards cards";
}

.logo {
  grid-area: logo;
  display: flex;

  align-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  padding-left: 140px;
  background-color: white;
}

.logo__title {
  padding: 0 20px;
  font-size: 30px;
  font-weight: bold;
  color: #18dc37;
}

.source {
  font-size: 30px;
  color: #18dc37; /* while*/
  transform: rotate(20deg);
  transition: ease-in-out 0.5s;
}

.hero {
  margin: 0 auto;
  padding-bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;

  width: 80%;
  height: 570px;
  border-radius: 30px;
  background-image: url(/images/hero_cat.jpg);
  background-size: cover;
  box-shadow: 10px 13px 52px -19px rgba(8, 5, 8, 0.16);

  background-position: center;
}

.title__hero {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  align-content: flex-start;
  margin-left: -500px;
  margin-top: 150px;
  font-size: 36px;
  color: #333;
}

.hero__p {
  display: flex;
  justify-content: start;
  align-self: center;
  margin-left: -500px;
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.hero__join {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: -500px;
  margin-top: 20px;
  font-size: 14px;
  color: white;
  width: 150px;
  height: 30px;
  background-color: #18dc37;
  border-radius: 5px;
  transition: 0.5s;
}

.hero__join:hover {
  background-color: orangered;
  transition: all ease-in-out 0.5s;
}

.cards {
  grid-area: cards;
  gap: 40px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-content: center;

  height: 300px;
  border-radius: 30px;
}

.cards__card {
  margin: 0 auto;
  padding: 0 auto;
  display: inline-flex;
  align-content: center;
  justify-content: space-around;
  border-radius: 30px;
  border: 2px solid white;
  transition: all ease-in-out 0.5s;
  width: 400px;
  height: 300px;
  box-shadow: 10px 13px 52px -19px rgba(8, 5, 8, 0.16);
}

.cards__card:hover {
  transform: translatey(-40px) rotate(5deg);

  transition: all ease-out 0.8s;
}
.food {
  background-image: url(/images/food.jpg);
  background-size: cover;
}

.heal {
  background-image: url(/images/dogNew.jpg);
  background-size: cover;
}

.adopt {
  background-image: url(/images/adoptNew.jpg);
  background-size: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  margin: 0 auto;
  padding: 0px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
  color: lightslategray;
}

.text_card2,
.text_card1,
.text_card3 {
  font-size: 32px;
  color: white;
  list-style: none;
  opacity: 1;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}
